.formBox {
 padding: 10%;
 margin-left:25%;
 font-size: 2em;
}

.inputBox {
  width: 30%;
  padding: 2%;
}

.submit {
  font-size: .7em;
  background-color: rgb(31, 69, 69);
  color: white;
  border-radius: 15px;
  justify-items: center;
  width: 20%;
  height: 2em;
  cursor: pointer;
  margin-top: 25px;
}

.smallText {
  font-size: 0.5em;
}
