@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Calistoga&family=Rubik+Glitch+Pop&family=Yeseva+One&display=swap');


header {
  background-color:rgb(11, 80, 103);
  background-size: cover;
  margin: -25px;
  height: 60px;
}

@media only screen and (max-width: 600px) {
  header {
    height:200px;
  }
}

body {
  font-family: "Calistoga", Arial, Helvetica, sans-serif;
  background-color:rgb(0, 5, 8);
  background: url("../public/trees.jpg");
  background-size: cover;
  margin:25px;
}

nav {
  float: right;
}

.nav-link {
  padding: 20px;
  color: white;
  font-size: 2em;
}

.nav-link:hover {
  background-color:rgb(14, 56, 70);
}

.headLogo {
  margin: 50px 0 0 20px;
}

@media only screen and (max-width: 600px) {
  .headLogo {
    width:200px;
  }
}
